/* Sidebar.css */
.sidebar-transition {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .sidebar-open {
    transform: translateX(0);
    opacity: 1;
  }
  
  .sidebar-close {
    transform: translateX(-100%);
    opacity: 0;
  }
  